@let currGame = game();
@if (currGame) {
  <div class="flex flex-col gap-4 py-4">
    <ins-card [title]="'Identifiant de la partie (À NE PAS MONTRER EN STREAM)'">
      <ins-button [title]="'Copier l\'identifiant'" (clicking)="copyUrl()">Copier l'identifiant</ins-button>
    </ins-card>

    <ul class="flex flex-wrap gap-3">
      @for (player of currGame.players; track $index) {
        <ins-card [title]="player.name" [color]="player.color">
          <li class="flex flex-col gap-2 justify-between">
            <div class="flex justify-between">
              <div class="flex gap-4">
                <ins-shard-tokens [player]="player"/>
                <ins-influence-tokens [player]="player"/>
              </div>
            </div>
            <div class="flex gap-2">
              <ins-button [title]="'Copier le lien pour l\'overlay des jetons personnels'" [isGhost]="true" (clicking)="copyUrl()">
                Jetons d'influence
              </ins-button>
              <ins-button [title]="'Copier le lien pour l\'overlay des jetons d\'éclat'" [isGhost]="true" (clicking)="copyUrl()">
                Jetons d'éclat
              </ins-button>
              @if (player.id === myPlayer()?.id) {
                <ins-button [title]="'Changer de couleur'" [isGhost]="true" (clicking)="changeColorDialog.showModal()">
                  Changer de couleur
                </ins-button>
              }
            </div>
          </li>
        </ins-card>
      }
    </ul>

    @if (currGame.players.length <= 2) {
      <ins-card [title]="'Prérequis'">
        <ul>
          <li>Il faut au minimum 3 joueur·euse·s pour distribuer les jetons</li>
        </ul>
      </ins-card>
    }
    <div class="flex gap-2">
      <ins-button [title]="'Supprimer la partie'" [danger]="true" (clicking)="closeGameDialog.showModal()">Clôturer la partie</ins-button>
      @if (currGame.players.length > 2 && currGame.state === 'START') {
        <ins-button [title]="'Distribuer les jetons'" (clicking)="dealTokensDialog.showModal()">Distribuer les jetons</ins-button>
      }
      @if (currGame.players.length > 2 && currGame.state === 'ON_GOING') {
        <ins-button [title]="'Voir'" [routerLink]="authenticatedRoute('game-details')">Voir</ins-button>
      }
    </div>
  </div>
}

<dialog #dealTokensDialog class="p-4 rounded-md border-gray-600 w-60">
  <p>Souhaitez-vous réellement distribuer les jetons ? La partie ne sera plus rejoignable par de nouvelles joueureuses</p>
  <div class="flex justify-between">
    <ins-button [type]="'button'" [title]="'Annuler'" [outline]="true" (clicking)="dealTokensDialog.close()">Annuler</ins-button>
    <ins-button [type]="'button'" [title]="'Distribuer les jetons'" (clicking)="dealTokens()">Distribuer</ins-button>
  </div>
</dialog>

<dialog #closeGameDialog class="p-4 rounded-md border-gray-600 w-60">
  <p>Souhaitez-vous réellement clôturer cette partie ? D:</p>
  <div class="flex justify-between">
    <ins-button [type]="'button'" [title]="'Annuler'" [outline]="true" (clicking)="closeGameDialog.close()">Annuler</ins-button>
    <ins-button [type]="'button'" [title]="'Créer'" (clicking)="closeGame()">Clôturer</ins-button>
  </div>
</dialog>

<dialog #changeColorDialog class="p-4 rounded-md border-gray-600 w-60">
  <form class="flex flex-col gap-3" [formGroup]="changeColorForm" (ngSubmit)="changeColor()">
    <ins-input formControlName="color" [inputType]="'color'" [label]="'Votre couleur'" [placeholder]="'#e8e8e8'"/>
    <div class="flex justify-between">
      <ins-button [type]="'button'" [title]="'Annuler'" [outline]="true" (clicking)="changeColorDialog.close()">Annuler</ins-button>
      <ins-button [type]="'button'" [title]="'Valider'" (clicking)="changeColor()">Valider</ins-button>
    </div>
  </form>
</dialog>

