<ins-centered-container>
  <h1 class="text-center text-xl text-white">Inscription</h1>
  <form class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="register()">
    <ins-input formControlName="username" [label]="'Email'" [placeholder]="'coucou@coucou.coucou'" [inputType]="'email'" />
    <ins-input formControlName="password" [label]="'Mot de passe'" [placeholder]="'coucou'" [inputType]="'password'" />
    <div class="flex justify-between">
      <ins-button [type]="'button'" [title]="'Se connecter'" [outline]="true" [routerLink]="route(PATH_LOGIN)">Se connecter</ins-button>
      <ins-button [type]="'submit'" [title]="'S\'inscrire'">S'inscrire</ins-button>
    </div>
  </form>
  <span class="text-red-600">{{errorMessage()}}</span>
</ins-centered-container>
