<ins-centered-container class="">
  <h1 class="text-center text-xl text-white">Connexion</h1>
  <form class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="login()">
    <ins-input formControlName="username" [label]="'Pseudo'" [placeholder]="'Toto'" [inputType]="'text'" />
    <ins-input formControlName="password" [label]="'Mot de passe'" [placeholder]="'coucou'" [inputType]="'password'" />
    <div class="flex justify-between">
      <ins-button [type]="'button'" [title]="'S\'inscrire'" [outline]="true" [routerLink]="route(PATH_REGISTER)">S'inscrire</ins-button>
      <ins-button [type]="'submit'" [title]="'Se connecter'">Se connecter</ins-button>
    </div>
  </form>
  <span class="text-red-600">{{errorMessage()}}</span>
</ins-centered-container>
