<div class="absolute top-0 bottom-16 left-0 right-0 flex flex-col justify-between overflow-auto">
  <div class="flex flex-col gap-3 p-2">
    <div class="flex gap-1 items-center self-center">
      <div class="custom-shadow border border-gray-100 rounded-lg p-4 flex flex-col gap-2 w-60 items-center">
        <div class="flex gap-1">
        <ins-flag [flagColor]="'RED'"/>
          x{{nbRedFlags()}}
        </div>
        <ins-button class="flex gap-2" [type]="'button'" [title]="'Donner un jeton'" [isGhost]="true"
                    (clicking)="addFlag('RED')">
          Lancer
        </ins-button>
      </div>
      <div class="custom-shadow border border-gray-100 rounded-lg p-4 flex flex-col gap-2 w-60 items-center">
        <div class="flex gap-2">
          {{game()?.nbAvailableShardTokens}}
          <ins-token [size]="22" [type]="'SHARD'"/>
        </div>
        <div class="flex gap-2">
          @if (canGiveShardToken()) {
            <ins-button class="flex gap-2" [type]="'button'" [title]="'Donner un jeton'" [isGhost]="true"
                        (clicking)="giveShardToken()">
              Donner
            </ins-button>
          }
          @if ((game()?.nbAvailableShardTokens) ?? 0 > 0) {
            <ins-button [type]="'button'" [title]="'Récupérer un jeton'" [isGhost]="true" (clicking)="addShardToken()">
              Subir
            </ins-button>
          }
        </div>
      </div>
      <div class="custom-shadow border border-gray-100 rounded-lg p-4 flex flex-col gap-2 w-60 items-center">
        <div class="flex gap-1">
          <ins-flag [flagColor]="'BLACK'"/>
          x{{nbBlackFlags()}}
        </div>
        <ins-button class="flex gap-2" [type]="'button'" [title]="'Donner un jeton'" [isGhost]="true"
                    (clicking)="addFlag('BLACK')">
          Lancer
        </ins-button>
      </div>
    </div>
    <div class="flex flex-wrap self-center gap-3">
      @for (player of game()?.players | withoutMyPlayer: myPlayer() ; track player.id) {
        <div class="custom-shadow border border-gray-100 rounded-lg p-4 flex flex-col gap-2 w-60 items-center">
          <span class="text-center" [style.color]="player.color">{{player.name}}</span>
          <ins-shard-tokens [player]="player"/>
          <ins-influence-tokens [player]="player"/>
          @if (canGiveInfluenceToken(player.id)) {
            <ins-button class="mt-auto"
                        [type]="'button'"
                        [title]="'Donner un jeton'"
                        [isGhost]="true"
                        (clicking)="giveToken(player)">
              Donner un jeton
            </ins-button>
          }
        </div>
      }
    </div>
  </div>
  <div class="flex justify-center p-2">
  </div>
</div>
<div class="absolute bottom-0 left-0 right-0 p-2 h-16 shadow-inner flex justify-between items-center">
  <div class="flex gap-4 max-w-[50%]">
    <span class="text-lg truncate" [style.color]="myPlayer()?.color"> {{myPlayer()?.name}}</span>
  </div>
  <div class="flex gap-2">
    <ins-shard-tokens [player]="myPlayer()"/>
    <ins-influence-tokens [player]="myPlayer()"/>
  </div>
  <div class="flex gap-2">
  </div>
</div>
